<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="redchamps" translate="label" sortOrder="100">
            <label>RedChamps</label>
        </tab>
        <section id="notification_bar" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Sticky Notification Bar</label>
            <tab>redchamps</tab>
            <resource>RedChamps_NotificationBar::config</resource>
            <group id="info" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <frontend_model>RedChamps\NotificationBar\Block\Adminhtml\System\Config\Fieldset\Info</frontend_model>
            </group>
            <group id="general" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>General Configuration</label>
                <field id="enabled" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_sticky" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Sticky</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="content" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Notification Content</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="text_color" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Text Color</label>
                    <frontend_model>RedChamps\NotificationBar\Block\Adminhtml\System\Config\FrontModel\ColorPicker</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="background_color" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>RedChamps\NotificationBar\Block\Adminhtml\System\Config\FrontModel\ColorPicker</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="custom_css" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Custom CSS</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
